body{
	background-color:#B0C4DE;
}
.showHidebttn{
	width: 100%;
}

.tables{
	padding-top: 20px;
}
.tableButton{
	background-color:lightblue;
	border: 1px solid lightgray;
}
.tableButton:hover{
	background-color: lightgray;
}
.tableButton:hover .btn{
    background: lightgray;
    border:solid black 0px;
}
.showHidebttn{
	width: 100%;
}

.changethisone input{
    border-right-style:none;
    /*height: 40px;*/
    border-radius: 10px;
    font-size: 15pt;
}
.changethisone span{
    background-color: #FFF;
    border-radius: 10px;
}

label, .btn-success, .btn-danger{
	font-size: 20px;

}
/*.form-control{
	color: black;
}*/

