body{
	background-color:#B0C4DE;
}	
/*.filter{
	margin-top: 0px;
	margin-bottom: 0px;
}*/
/*.constrained {
    margin: 10px;
    padding: 10px;
    height: 200px;
    overflow: auto;
    border: 1px solid lightgray;
}*/

.filter button{
	margin-bottom: 10px;
	height: 40px;
	margin-top: 20px;
	font-size: 20px;
	border-radius: 5px;
	color:black;
}
thead{
	background-color: lightblue;	
}
table{
	table-layout: fixed;

}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color:#DCDCDC;
}

.table-striped > tbody > tr.selected > td {
	background-color: skyblue;
}
.changethisone input{
    border-right-style:none;
    height: 40px;
    border-radius: 10px;
    font-size: 15pt;
}
.changethisone span{
    background-color: #FFF;
    border-radius: 10px;
}
.b{
	float: right;
	visibility: hidden;
}
.table-striped > tbody > tr > td > .a:hover .b{
  visibility: visible;
}

#expandDiv{
	position: relative;
	float: right;
}
#expandContainer{
	position: absolute;
	float: right;
	margin-left: -37px;
	height: 37px;
	width: 45px;
	height: 40px;
	font-size: 20px;
	color: skyblue;
}

.dataTables_filter label { 
	width: 500%;
	height: 30px;
	border-radius: 10px;
	border-color: skyblue;

	margin-bottom: 10px;
	margin-right: 5px;
}


.dataTables_filter input { 
	margin-top: 5px;
	margin-bottom: 10px;
	width: 800px;
	height: 30px;
	border-radius: 10px;
}

#supplyInvoicesTable , #sellTable , #sellsTable
{
	width: 100%;
}

#supplyInvoicesTable.dataTables_filter , #sellTable.dataTables_filter ,#sellsTable.dataTables_filter 
{
	width: 90%;
}

#supplyInvoicesTable_wrapper.dataTables_wrapper, #sellTable_wrapper.dataTables_wrapper , #sellsTable_wrapper.dataTables_wrapper
{
	background-color: lightblue;
}
