body{
	background-color:#B0C4DE;
}

thead{
	background-color: lightblue;
}

table {
	table-layout: fixed;
}

.searchAddPerfume input, .searchAddStockPerfume input{
	width: 100%;
	margin-top: 20px;
	height: 50px;
	font-size: 15pt;
	border-radius: 10px;
}
.changethisone input{
    border-right-style:none;
    height: 40px;
    border-radius: 10px;
    font-size: 15pt;
}
.changethisone span{
    background-color: #FFF;
    border-radius: 10px;
}
.btnAddPerfume, .btnAddStockPerfume{
	width: 100%;
	background-color: lightgreen;
	border: 0px;
	color: black;
	margin-top: 0px;
	margin-bottom: 5px;
	height: 40px;
	font-size: 20px;
	border-radius: 10px;
}

#perfumeModal input, #stockPerfumeModal input{
	margin-bottom: 15px;
}
/*.modal .modal-dialog .modal-content{  background-color: #B0C4DE;}*/
.modal .modal-dialog .modal-content{  background-color: rgba(230,230,255,1);}
/*.modal .modal-dialog {  background-color: green; }*/
/*.modal  {  background-color: rgba(135,206,250, 0.5); }*/
.modal-footer button{
/*margin-right: 20px;
margin-left: 0px;*/
font-size: 18px;
color: black;
position: center;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color:#DCDCDC;
}
.btn:focus,.btn {
   outline: none !important;
   box-shadow: none;
}
.space{
	height: 10px;
}
.b{
	float: left;
	visibility: hidden;
}
.table-striped > tbody > tr > td > .a:hover .b{
  visibility: visible;
}
.table-striped > tbody > tr.selected > td {
	background-color: skyblue;
}

#infoSpan{
	background-color: orange;
	font-weight: bold;
	border-radius: 3px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	padding: 1px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border: solid black 1px;
}
.table>thead{
	border-top: solid black 1px;
}




#definitionPerfumeTable
{
	width: 100%;
}

#definitionPerfumeTable.dataTables_filter 
{
	width: 90%;
}

#definitionPerfumeTable_wrapper.dataTables_wrapper
{
	background-color: lightblue;
}

.dataTables_filter label { 
	width: 500%;
	border-radius: 10px;
	height: 30px;
	border-color: skyblue;
	margin-bottom: 20px;
	margin-right: 5px;
}


.dataTables_filter input { 
	margin-top: 5px;
	margin-bottom: 10px;
	width: 1000px;
	height: 30px;
	border-radius: 10px;
}

