body{
	background-color:#B0C4DE;
}	
/*.filter{
	margin-top: 0px;
	margin-bottom: 0px;
}*/
thead{
	background-color: lightblue;	
}
table{
	table-layout: fixed;

}
.filter button{
	margin-bottom: 10px;
	height: 40px;
	margin-top: 20px;
	font-size: 20px;
	border-radius: 5px;
	color:black;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color:#DCDCDC;
}

.table-striped > tbody > tr.selected > td {
	background-color: skyblue;
}
.changethisone input{
    border-right-style:none;
    height: 40px;
    border-radius: 10px;
    font-size: 15pt;
}
.changethisone span{
    background-color: #FFF;
    border-radius: 10px;
}
.b{
	float: right;
	visibility: hidden;
}
.table-striped > tbody > tr > td > .a:hover .b{
  visibility: visible;
}

#expandDiv{
	position: relative;
	float: right;
}
#expandContainer{
	position: absolute;
	float: right;
	margin-left: -37px;
	height: 37px;
	width: 45px;
	height: 40px;
	font-size: 20px;
	color: skyblue;
}

/*Datatable override CSS */

.table th {
  text-align: center;
}

.dataTables_filter label { 
	width: 500%;
	height: 30px;
	border-radius: 10px;
	border-color: skyblue;

	margin-bottom: 10px;
	margin-right: 5px;
}


.dataTables_filter input { 
	margin-top: 5px;
	margin-bottom: 10px;
	width: 90%;
	height: 30px;
	border-radius: 10px;
}
#essenceTable
{
	width: 100%;
}

#bottleTable
{
	width: 100%;
}

#accTable
{
	width: 100%;
}

#essenceTable_filter.dataTables_filter
{
	
	width: 90%;
}

#bottleTable_filter.dataTables_filter
{
	
	width: 90%;
}

#accTable_filter.dataTables_filter
{
	
	width: 90%;
}

#essenceTable_wrapper.dataTables_wrapper
{
	background-color: lightblue;
}

#bottleTable_wrapper.dataTables_wrapper
{
	background-color: lightblue;
}


#accTable_wrapper.dataTables_wrapper
{
	background-color: lightblue;
}
