<html>
<head>
    <title>زبون / مورد</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	<link rel="stylesheet" type="text/css" href="../bootstrap-3-arabic-master/dist/css/bootstrap-arabic.min.css">
    <script src="../js/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../design/sweetAlert/sweetalert.css">
    <script src="../design/sweetAlert/sweetalert.js"></script>
    <script src="../design/sweetAlert/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../design/mainNav.css">
    <link rel="stylesheet" type="text/css" href="../design/client.css">
    <script src="../jquery/jquery.min.js"></script>
    <script src="../bootstrap-3-arabic-master/dist/js/bootstrap-arabic.min.js"></script>
    <script src="../js/client.js"></script>
    <script src="../js/clientController.js"></script>
    <script src="../js/animatescroll.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../jquery/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <script src="../jquery/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../DataTables/datatables.min.css"/>
    <script type="text/javascript" src="../DataTables/datatables.min.js"></script>
    
</head>
<body>
    <div class="navigationBar">
        <div class="col-xs-12">
            <nav class="links navbar-default">
                <ul class="nav nav-tabs nav-justified">
                    <li class=""><a name="sell" class="link" href="sell.html">بيع</a></li>
                    <li class=""><a name="drawer" class="link" href="drawer.html">صندوق</a></li>
                    <li class=""><a name="stock" class="link" href="stock.html">المخزون</a></li>
                    <li class=""><a name="history" class="link" href="history.html">الفواتير</a></li>
                    <li class=""><a name="definitionPerfume" class="link" href="definitionPerfume.html">تعريف عطر</a></li>
                    <li class=""><a name="supply" class="link" href="supply.html">المؤن</a></li>
                    <li class="btn-info"><a name="client" class="activeLink" href="#">زبون / مورد</a></li>
                    <li class=""><a name="damage" class="link" href="damage.html">تلف</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div ng-app="PERFUME">
        <div ng-controller="Client&SupplierALL">
            <div class="col-xs-12">
                <div class="filter">
                    <button name="essence" class="col-xs-6 client col btn btn-default">زبون</button>
                    <button name="alcohol" class="col-xs-6 supplier col btn btn-default">مورد</button>
                </div>
            </div>
                
            <div class="col-xs-12 tabcontent clientTable">
                <form>
                    <div>
                        <input style="margin-top:10px; margin-bottom: 10px; font-size: 18px;color: black;" type ="button" class="btn btn-success btnAddStockPerfume form-control mousetrap"  data-toggle="modal" ng-click="addClientModal()" value="+إضافة زبون جديد+"/>
                    </div>
                </form>
                <!-- Add Stock Perfume MODAL -->
                <div class="modal fade" id="clientModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{clientModal_titleName}}</h4>
                            </div>
                            <form>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <label>إسم الكامل: </label>
                                    <input class="form-control mousetrap" ng-model="newClient[0].Name" type="text" placeholder="الاسم" id="clientName" />
                                    <label>رقم الهاتف: </label>
                                    <input class="form-control mousetrap" ng-model="newClient[0].Phone" type="text" placeholder="الخليوي او الارضي" id="clientPhone"/>
                                    <label>العنوان: </label>
                                    <input class="form-control mousetrap" ng-model="newClient[0].Address" type="text" placeholder="عنوان مفصل"/>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button style="margin-right: 5px;" ng-click="addClient()" class ="btn btn-success form-control" type="button" data-dismiss="">{{clientModal_btnName}}</button>
                                    <button class="btn btn-danger form-control" type="button" data-dismiss="modal" >إلغاء</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="clientEditModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">تعديل الزبون</h4>
                            </div>
                            <form>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <label>إسم الكامل: </label>
                                    <input class="form-control mousetrap" ng-model="editClientInfo[0].name" type="text" placeholder="الاسم" id="clientEditName" />
                                    <label>رقم الهاتف: </label>
                                    <input class="form-control mousetrap" ng-model="editClientInfo[0].phone" type="text" placeholder="الخليوي او الارضي" id="clientPhone"/>
                                    <label>العنوان: </label>
                                    <input class="form-control mousetrap" ng-model="editClientInfo[0].address" type="text" placeholder="عنوان مفصل"/>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button style="margin-right: 5px;" ng-click="editClient()" class ="btn btn-success form-control" type="button" data-dismiss="">تعديل</button>
                                    <button class="btn btn-danger form-control" type="button" data-dismiss="modal" >إلغاء</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table table-stripped text-center">
                    <table class ="table table-responsive  text-center table-bordered table-hover" id="clientTable">
                        <thead>
                            <tr>
                                <th>الاسم</th>
                                <th>رقم الهاتف</th>
                                <th>عنوان</th>
                                <th>الدين</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>   
                </div>
            </div>

            <div class="col-xs-12 tabcontent supplierTable">
                <form>
                    <div>
                        <input style="margin-top:10px; margin-bottom: 10px; font-size: 18px;color: black;" type ="button" class="btn btn-success btnAddStockPerfume form-control mousetrap"  data-toggle="modal" ng-click="addSupplierModal()" value="+إضافة مورد جديد+"/>
                    </div>
                    
                </form>
                <div class="modal fade" id="supplierModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{supplierModal_titleName}}</h4>
                            </div>
                            <form>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <label>إسم المورد: </label>
                                    <input class="form-control mousetrap" type="text" ng-model="newSupplier[0].Name" placeholder="الاسم" id="supplierName"/>
                                    <label>رقم الهاتف: </label>
                                    <input class="form-control mousetrap" ng-model="newSupplier[0].Phone" type="text" placeholder="الخليوي او الارضي" id="supplierPhone"/>
                                    <label>العنوان: </label>
                                    <input class="form-control mousetrap" ng-model="newSupplier[0].Address" type="text" placeholder="العنوان مفصل"/>
                                    <label>الدين: </label>
                                    <input class="form-control mousetrap" ng-model="newSupplier[0].debit" type="text" placeholder="مبلغ الدين"/>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button style="margin-right: 5px;" ng-click="addSupplier()" class ="btn btn-success form-control" type="button" data-dismiss="">{{supplierModal_btnName}}</button>
                                    <button class="btn btn-danger form-control" type="button" data-dismiss="modal" >إلغاء</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="supplierModalEdit">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">تعديل مورد</h4>
                            </div>
                            <form>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <label>إسم المورد: </label>
                                    <input class="form-control mousetrap" type="text" ng-model="editSupplierInfo[0].name" placeholder="الاسم" id="supplierNameEdit"/>
                                    <label>رقم الهاتف: </label>
                                    <input class="form-control mousetrap" ng-model="editSupplierInfo[0].phone" type="text" placeholder="الخليوي او الارضي" id="supplierPhoneEdit"/>
                                    <label>العنوان: </label>
                                    <input class="form-control mousetrap" ng-model="editSupplierInfo[0].address" type="text" placeholder="العنوان مفصل"/>
                                    <label>الدين: </label>
                                    <input class="form-control mousetrap" ng-model="editSupplierInfo[0].debit" type="text" placeholder="مبلغ الدين"/>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button style="margin-right: 5px;" ng-click="editSupplier()" class ="btn btn-success form-control" type="button" data-dismiss="">تعديل</button>
                                    <button class="btn btn-danger form-control" type="button" data-dismiss="modal" >إلغاء</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table table-stripped text-center">
                    <table id="supplierTable" class ="table table-responsive table-striped text-center table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>الاسم</th>
                                <th>رقم الهاتف</th>
                                <th>عنوان</th>
                                <th>الدين</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>