<html>
<head>
    <title>العطورات</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../bootstrap-3-arabic-master/dist/css/bootstrap-arabic.min.css">
    <script src="../js/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../design/sweetAlert/sweetalert.css">
    <script src="../design/sweetAlert/sweetalert.js"></script>
    <script src="../design/sweetAlert/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../design/mainNav.css">
    <link rel="stylesheet" type="text/css" href="../design/perfume.css">
    <script src="../jquery/jquery.min.js"></script>
	<script src="../bootstrap-3-arabic-master/dist/js/bootstrap-arabic.min.js"></script>
    <script src="../js/definitionPerfume.js"></script>
    <script src="../js/animatescroll.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../jquery/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <script src="../jquery/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../DataTables/datatables.min.css"/>
    <script type="text/javascript" src="../DataTables/datatables.min.js"></script>
</head>
<body>
    <div class="navigationBar">
        <div class="col-xs-12">
            <nav class="links navbar-default">
                <ul class="nav nav-tabs nav-justified">
                    <li class=""><a name="sell" class="link" href="sell.html">بيع</a></li>
                    <li class=""><a name="drawer" class="link" href="drawer.html">صندوق</a></li>
                    <li class=""><a name="stock" class="link" href="stock.html">المخزون</a></li>
                    <li class=""><a name="history" class="link" href="history.html">الفواتير</a></li>
                    <li class="btn-info"><a name="definitionPerfume" class="activeLink" href="#">تعريف عطر</a></li>
                    <li class=""><a name="supply" class="link" href="supply.html">المؤن</a></li>
                    <li class=""><a name="client" class="link" href="client.html">زبون / مورد</a></li>
                    <li class=""><a name="damage" class="link" href="damage.html">تلف</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div ng-app="PERFUME">
        <div ng-controller="DefinitionPerfumeALL">
            <div class="col-xs-12 tabcontent perfumeTable">
                <form>
                	<div>
						<input style="margin-top:10px;margin-bottom: 10px; font-size: 18px;color: black;" type ="button" class="btn btn-success btnAddPerfume form-control mousetrap"  data-toggle="modal" ng-click="addPerfumeModal()" value="+ تعريف عطر جديد +"/>
					</div>
                     
                </form>
				<div class="modal fade" id="perfumeModal">
				  	<div class="modal-dialog modal-lg">
				   	 	<div class="modal-content">
					      	<!-- Modal Header -->
					      	<div class="modal-header">
					        	<button type="button" class="close" data-dismiss="modal">&times;</button>
					        	<h4 class="modal-title">تعريف عطر جديد</h4>
					      	</div>
					      	<form autocomplete="off">
						      	<!-- Modal body -->
						      	<div class="modal-body">
						        	<label class="col-xs-2">إسم العطر: </label>
						        	<span class="col-xs-10 mousetrap" ng-model="perfumeName" type="text">{{newDefPerInfo[0].item_name}}</span>
						        	<label class="col-xs-12">قنينة: </label>
						        	<input class="col-xs-12 mousetrap" id="bottleType" ng-model="bottleType" list="listBottleType" type="text" placeholder="النوع"  ng-change="bottleChanged()" />
                                    <datalist id="listBottleType">
                                        <option ng-repeat="b in allBottle" data-price="{{b.selling}}" data-capacity="{{b.capacity}}" data-cost="{{b.cost}}" data-type="{{b.name}}" data-id="{{b.id}}" value="{{b.name}} | {{b.capacity}}">
                                    </datalist>
						        	<label class="col-xs-6">إسانس 1: </label>
                                    <label class="col-xs-6">كمية الإسانس 1: </label>
						        	<input class="col-xs-6 mousetrap" ng-model="essenceName1" list="listEssenceName1" type="text" placeholder="الإسم"  ng-change="essence1NameChanged()"/>
                                    <datalist id="listEssenceName1">
                                        <option ng-repeat="e in allEssence" data-price="{{e.selling}}" data-id="{{e.id}}" data-cost="{{e.cost}}" value="{{e.name}}">
                                    </datalist>
                                    <input class="col-xs-6 mousetrap" ng-model="newDefPerInfo[0].item_quan_e1" type="number" ng-change="essence1QuanChanged()"  placeholder="ملليلتر" />
						        	<label class="col-xs-6">إسانس 2: </label>
                                    <label class="col-xs-6">كمية الإسانس 2: </label>
                                    <input class="col-xs-6 mousetrap" ng-model="essenceName2" list="listEssenceName2" type="text" placeholder="الإسم"  ng-change="essence2NameChanged()"/>
                                    <datalist id="listEssenceName2">
                                        <option ng-repeat="e in allEssence" data-price="{{e.selling}}" data-id="{{e.id}}" data-cost="{{e.cost}}" value="{{e.name}}">
                                    </datalist>   
                                    <input class="col-xs-6 mousetrap" ng-model="newDefPerInfo[0].item_quan_e2" ng-change="essence2QuanChanged()" type="number" placeholder="ملليلتر" ng-change="ess2QuantityChanged()"/>
                                    <label class="col-xs-12">كمية الكحول: </label>
                                    <input disabled="true" class="col-xs-12 mousetrap" id="alcoholQuantity" ng-model="newDefPerInfo[0].item_quan_a" type="number" placeholder="ملليلتر" readonly/>
						        	<label class="col-xs-6">سعر البيع: </label>
                                    <label class="col-xs-6">سعر التكلفة: </label>
						        	<input class="col-xs-6 mousetrap" step="0.01" id="perfumePrice" ng-model="newDefPerInfo[0].item_selling" type="number"/>
                                    <span class="col-xs-6 mousetrap" id="perfumeCost" ng-model="newDefPerInfo[0].item_cost" type="number"/>{{newDefPerInfo[0].item_cost}}</span>
						        </div>
						      	<!-- Modal footer -->
						      	<div class="modal-footer" style="">
						      		<button style="margin-right: 5px;" ng-click="addPerfume()" class ="btn btn-success form-control" type="button" data-dismiss="">تسجيل </button>
                                    <button class="btn btn-danger form-control" type="button" data-dismiss="modal" >إلغاء</button>
						        </div>
					      	</form>
				    	</div>
				  	</div>
				</div>

                <div class="modal fade" id="perfumeEditModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">تعديل عطر</h4>
                            </div>
                            <form autocomplete="off">
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <label class="col-xs-2">إسم العطر: </label>
                                    <span class="col-xs-10 mousetrap" ng-model="editDefPerInfo[0].item_name" type="text">{{updatedDefPerfInfo[0].item_name}}</span>
                                    <label class="col-xs-12">قنينة: </label>
                                    <input class="col-xs-12 mousetrap" id="bottleTypeEdit" ng-model="editDefPerInfo[0].bottleInfo" list="listBottleTypeEdit" type="text" placeholder="النوع" ng-change="bottleChangedEdit()" />
                                    <datalist id="listBottleTypeEdit">
                                        <option ng-repeat="b in allBottle" data-price="{{b.selling}}" data-capacity="{{b.capacity}}" data-cost="{{b.cost}}" data-type="{{b.name}}" data-id="{{b.id}}" value="{{b.name}} | {{b.capacity}}">
                                    </datalist>
                                    <label class="col-xs-6">إسانس 1: </label>
                                    <label class="col-xs-6">كمية الإسانس 1: </label>
                                    <input class="col-xs-6 mousetrap" ng-model="editDefPerInfo[0].item_name_ess1" list="listEssenceName1Edit" type="text" placeholder="الإسم" ng-change="essence1NameChangedEdit()"/>
                                    <datalist id="listEssenceName1Edit">
                                        <option ng-repeat="e in allEssence" data-price="{{e.selling}}" data-id="{{e.id}}" data-cost="{{e.cost}}" value="{{e.name}}">
                                    </datalist>
                                    <input class="col-xs-6 mousetrap" ng-model="editDefPerInfo[0].item_quan_e1" type="number"  placeholder="ملليلتر" />
                                    <label class="col-xs-6">إسانس 2: </label>
                                    <label class="col-xs-6">كمية الإسانس 2: </label>
                                    <input class="col-xs-6 mousetrap" ng-model="editDefPerInfo[0].item_name_ess2" list="listEssenceName2Edit" type="text" placeholder="الإسم" ng-change="essence2NameChangedEdit()"/>
                                    <datalist id="listEssenceName2Edit">
                                        <option ng-repeat="e in allEssence" data-price="{{e.selling}}" data-id="{{e.id}}" data-cost="{{e.cost}}" value="{{e.name}}">
                                    </datalist>
                                    <input class="col-xs-6 mousetrap" ng-change="essence2QuanChangedEdit()" ng-model="editDefPerInfo[0].item_quan_e2" type="number" placeholder="ملليلتر"/>
                                    <label class="col-xs-12">كمية الكحول: </label>
                                    <input class="col-xs-12 mousetrap" id="alcoholQuantityEdit" ng-model="editDefPerInfo[0].item_quan_a" type="number" placeholder="ملليلتر" readonly/>
                                    <label class="col-xs-6">سعر البيع: </label>
                                    <label class="col-xs-6">سعر التكلفة: </label>
                                    <input class="col-xs-6 mousetrap" step="0.01" id="perfumePriceEdit" ng-model="editDefPerInfo[0].item_selling" step="0.01" type="number"/>
                                    <span class="col-xs-6 mousetrap" id="perfumeCost" ng-model="editDefPerInfo[0].item_cost" type="number"/>{{editDefPerInfo[0].item_cost}}</span>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer" style="">
                                    <button style="margin-right: 5px;" ng-click="EditPerfume()" class ="btn btn-success form-control" type="button" data-dismiss="">تعديل</button>
                                    <button class="btn btn-danger form-control" type="button" data-dismiss="modal" >إلغاء</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="table table-stripped text-center">
                    <table id="definitionPerfumeTable" class ="table table-responsive table-striped text-center table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>اسم العطر  </th>
                                <th>القنينة </th>
                                <th>سعر التكلفة </th>
                                <th>سعر البيع </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>   
                </div>
            </div>
        </div>
    </div>
</body>
</html>