<html>
<head>
    <title>بيع</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../bootstrap-3-arabic-master/dist/css/bootstrap-arabic.min.css">
    <script src="../js/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../design/sweetAlert/sweetalert.css">
    <script src="../design/sweetAlert/sweetalert.js"></script>
    <script src="../design/sweetAlert/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../design/mainNav.css">
    <link rel="stylesheet" type="text/css" href="../design/sell.css">
    <script src="../jquery/jquery.min.js"></script>
	<script src="../bootstrap-3-arabic-master/dist/js/bootstrap-arabic.min.js"></script>
    <!-- <script src="../js/totaldrawer.js"></script> -->
    <script src="../js/sell.js"></script>
    <script src="../js/sellController.js"></script>
    <script src="../js/mousetrap.js"></script>
    <script src="../js/animatescroll.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../jquery/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <script src="../jquery/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <!--     <link rel="stylesheet" type="text/css" href="../DataTables/datatables.min.css"/>
    <script type="text/javascript" src="../DataTables/datatables.min.js"></script> -->
</head>
<body>
    <div class="navigationBar bar">
        <div class="col-xs-12">
            <nav class="links navbar-default">
                <ul class="nav nav-tabs nav-justified">
                    <li class="btn-info"><a name="sell" class="activeLink" href="#">بيع</a></li>
                    <li class=""><a name="drawer" class="link" href="drawer.html">صندوق</a></li>
                    <li class=""><a name="stock" class="link" href="stock.html">المخزون</a></li>
                    <li class=""><a name="history" class="link" href="history.html">الفواتير</a></li>
                    <li class=""><a name="definitionPerfume" class="link" href="definitionPerfume.html">تعريف عطر</a></li>
                    <li class=""><a name="supply" class="link" href="supply.html">المؤن</a></li>
                    <li class=""><a name="client" class="link" href="client.html">زبون / مورد</a></li>
                    <li class=""><a name="damage" class="link" href="damage.html">تلف</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div ng-app="PERFUME">
        <div ng-controller="PerfumeALL" class="col-xs-12 tabcontent">
            <div class="row tables">
                <div class="col-xs-3">
                    <div class ="tableButton col-xs-12 btn sellPerfumeButton"><h3>عطور</h3></div>
                    <div class ="tableButton col-xs-12 btn sellItemButton"><h3>الاكسسوارات</h3></div>
                    <div class ="tableButton col-xs-12 btn sellsButton"><h3>بيع بالجملة</h3></div>
                </div>
                <div class="col-xs-9 factureSelltable">
                    <div class="table-striped col-xs-12">
                        <table class="table table-responsive table-bordered text-center" style="padding: 0px;">
                            <thead>
                                <tr>
                                    <th style = "" colspan="4">
                                        <h3 style="vertical-align: middle;" class="text-center tableMainTitle">فاتورة</h3>
                                        <div style="float:right;" class = "col-xs-7 table-responsive">
                                        <table style="float:right; background-color: white;" class="table-bordered text-center">
                                            <thead>
                                                <tr>
                                                    <td style="padding: 3px; font-size: 13px;"><label>إسم الزبون: </label></td>
                                                    <td style="font-size: 13px;">
                                                        <strong>
                                                            <input class="text-center mousetrap" type="text" id="clientName" list="clientNameList" ng-model="clientData"/>
                                                        </strong>
                                                        <datalist id="clientNameList">
                                                            <option ng-repeat="c in allClient | orderBy:sort | reverse" data-phone="{{c.phone}}" data-id="{{c.id}}" value="{{c.name}}" ng-click="DataClient = c">
                                                        </datalist>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 3px; font-size: 13px;">
                                                        <label>رقم الهاتف: </label> 
                                                    </td>
                                                    <td style="font-size: 13px;">
                                                        <strong>
                                                            <input id="clientPhone" class="text-center" type="text" value={{clientPhone}} />
                                                        </strong>
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div style="float:left;" class = "col-xs-4 table-responsive">
                                        <table style="float:left; background-color: white;" class="table-bordered text-center">
                                            <thead>
                                                <tr >
                                                    <td style="padding: 3px; font-size: 13px;vertical-align: middle;">
                                                        <label>رقم: </label>
                                                    </td>
                                                    <td style="vertical-align: middle;">
                                                        <strong>
                                                            <label id="SLToBe"></label>
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 3px; font-size: 13px;vertical-align: middle;">
                                                        <label>تاريخ: </label>
                                                    </td>
                                                    <td>
                                                        <strong>
                                                            <input id="delDateSell" class="text-center mousetrap" type="text" tabindex="150"/>
                                                        </strong>
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </th>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" class="text-center">الإسم</th>
                                    <th style="vertical-align: middle;" class="text-center">الكمية</th>
                                    <th style="vertical-align: middle;" class="text-center">السعر</th>
                                    <th style="vertical-align: middle;" class="text-center">السعر النهائي</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="f in facture">
                                    <td style="vertical-align: middle;">
                                        <div class="aa">{{f.name}}
                                            <div class="bb">
                                                <span style="" ng-click="deleteRow($index)" class="glyphicon glyphicon-remove btn-danger btn " title="إلغاء"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle;" class="">{{f.quantity}}</td>
                                    <td style="vertical-align: middle;" class="">{{f.price}}</td>
                                    <td style="vertical-align: middle;" class="">{{f.price*f.quantity}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="4" style="padding: 0px 0px 0px 0px;"><div style="border:solid black 3px;"></div></th>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" class="text-center">المبلغ المدفوع: </th>
                                    <td style="vertical-align: middle;">
                                        <input type="number" id="sellPayPrice" ng-value="{{totalPriceSell}}" class="form-control mousetrap" placeholder="المبلغ المدفوع"/>
                                    </td>
                                    
                                    <th style="vertical-align: middle;" class="text-center">مجموع الفاتورة: </th>
                                    <td style="vertical-align: middle;">
                                        <input type="number" id="sellTotalPrice" ng-value="{{totalPriceSell}}" class="form-control mousetrap" placeholder="مجموع الفاتورة"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td  ng-click="addFactureSell()" colspan="4" class="btn col-xs-6 btn-success" style="vertical-align: middle; font-size:20px;">تسجيل</td>
                                </tr>
                                <tr>
                                    <td ng-click="cancelFactureSell()" id="cancel" colspan="4" class="btn col-xs-6 btn-danger" style="vertical-align: middle; font-size:20px;">إلغاء</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-xs-9 factureSellsTable">
                    <div class="table-striped col-xs-12">
                        <table class="table table-responsive table-bordered text-center" style="padding: 0px;">
                            <thead>
                                <tr>
                                    <th style = "" colspan="5">
                                        <h3 style="vertical-align: middle;" class="text-center tableMainTitle">فاتورة بالجملة</h3>
                                        <div style="float:right;" class = "col-xs-7 table-responsive">
                                            <table style="float:right; background-color: white;" class="table-bordered text-center">
                                                <thead>
                                                    <tr>
                                                        <td style="padding: 3px; font-size: 13px;">
                                                            <label>إسم الزبون: </label>
                                                        </td>
                                                        <td style="font-size: 13px;">
                                                            <strong>
                                                                <input class="text-center mousetrap" type="text" id="clientSellsName" list="clientSellsNameList" ng-model="clientSellsData"/>
                                                            </strong>
                                                            <datalist id="clientSellsNameList">
                                                                <option ng-repeat="cs in allClient" data-phone="{{cs.phone}}" data-id="{{cs.id}}" value="{{cs.name}}" ng-click="clientSellsData = cs">
                                                            </datalist>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 3px; font-size: 13px;">
                                                            <label>رقم الهاتف: </label> 
                                                        </td>
                                                        <td style="font-size: 13px;">
                                                            <strong>
                                                                <input id="clientSellsPhone" class="text-center" type="text" value={{clientSellsPhone}} />
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div style="float:left;" class = "col-xs-4 table-responsive">
                                            <table style="float:left; background-color: white;" class="table-bordered text-center">
                                                <thead>
                                                    <tr>
                                                        <td style="padding: 3px; font-size: 13px;vertical-align: middle;">
                                                            <label>رقم: </label>
                                                        </td>
                                                        <td style="vertical-align: middle;">
                                                            <strong>
                                                                <label id="SSToBe"></label>
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 3px; font-size: 13px;vertical-align: middle;">
                                                            <label>تاريخ: </label>
                                                        </td>
                                                        <td>
                                                            <strong>
                                                                <input id="delDateSells" class="text-center mousetrap"  type="text" tabindex="150"/>
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" class="text-center">النوع</th>
                                    <th style="vertical-align: middle;" class="text-center">الإسم</th>
                                    <th style="vertical-align: middle;" class="text-center">الكمية</th>
                                    <th style="vertical-align: middle;" class="text-center">سعر اللتر \ القطعة</th>
                                    <th style="vertical-align: middle;" class="text-center">السعر النهائي</th>
                                </tr>
                            </thead>
                            <tbody>
                                <form>
                                    <tr ng-repeat="col in rowsSells" class="rowSells">
                                        <td style="vertical-align: middle;">
                                            <select name="type" id="type{{$index}}" ng-model="col.type" class="form-control mousetrap" ng-change="cleanInput($index)">
                                                <!-- <option value="">-- إختر نوع --</option> -->
                                                <option value="essence">اسانس</option>
                                                <option value="alcohol">كحول</option>
                                                <option value="bottle">قناني</option>
                                            </select>
                                        </td>
                                        <td style="vertical-align: middle;"  ng-show="col.type==''">
                                            <input id="nameEmpty{{$index}}" ng-model="col.name" class="form-control mousetrap" type="text" placeholder="الإسم"/>
                                        </td>
                                        <td style="vertical-align: middle;"  ng-show="col.type=='essence'">
                                            <select id="nameEssence{{$index}}" ng-model="col.name"  class="form-control mousetrap" type="text" placeholder="الإسم" ng-change="changeSelling($index);">
                                                <option ng-repeat="e in allEssence" ng-class="{'text-danger':e.quantity==0}" data-price="{{e.selling}}" data-cost="{{e.cost}}" data-id="{{e.id}}" data-quantity="{{e.quantity}}"  value="{{e.name}}" >{{e.name}}</option>
                                            </select>
                                        </td>
                                        <td style="vertical-align: middle;" ng-show="col.type=='alcohol'">
                                            <input id="nameAlcohol{{$index}}" ng-model="col.name" ng-value="'كحول'" class="form-control mousetrap" type="text" placeholder="الإسم" disabled/>
                                        </td>
                                        <td style="vertical-align: middle;" ng-show="col.type=='bottle'">
                                            <select id="nameBottle{{$index}}" ng-model="col.name"  class="form-control mousetrap" type="text" placeholder="الإسم" ng-change="changeSelling($index);">
                                            <!-- <datalist id="listBottleSells{{$index}}"> -->
                                                
                                                 <option ng-repeat="b in allBottle" ng-class="{'text-danger':b.quantity==0}" data-price="{{b.selling}}" data-cost="{{b.cost}}" data-capacity="{{b.capacity}}" data-name="{{b.name}}" data-id="{{b.id}}" data-quantity="{{b.quantity}}" value="{{b.name}} | {{b.capacity}}">{{b.name}} | {{b.capacity}}</option>
                                            </select>
                                        </td>
                                        <!-- alcohol and essence -->
                                        <td style="vertical-align: middle;" ng-show="col.type=='alcohol' || col.type=='essence' || col.type==''">
                                            <input id="quantity{{$index}}" ng-model="col.quantity" ng-change="totalPriceRow($index);checkQuantity($index)" class="form-control mousetrap" type="number" placeholder="لتر"/>
                                        </td>
                                        <td style="vertical-align: middle;" ng-show="col.type=='alcohol' || col.type=='essence' || col.type==''">
                                            <input id="selling{{$index}}" ng-model="col.selling" ng-change="totalPriceRow($index);checkCost($index)" class="form-control mousetrap" type="number" placeholder="/لتر"/>
                                        </td>
                                        <td style="vertical-align: middle;" ng-show="col.type=='alcohol' || col.type=='essence' || col.type==''">
                                            <input id="price{{$index}}" ng-model="col.price" class="form-control mousetrap" type="number" placeholder="الكمية * سعر اللتر" disabled/>
                                        </td>
                                        <!-- bottle -->
                                        <td style="vertical-align: middle;" ng-show="col.type=='bottle'">
                                            <input id="quantityBottle{{$index}}" ng-model="col.quantity" ng-change="totalPriceRow($index);checkQuantity($index)" class="form-control mousetrap" type="number" placeholder="القطعة"/>
                                        </td>
                                        <td style="vertical-align: middle;" ng-show="col.type=='bottle'">
                                            <input id="sellingBottle{{$index}}" ng-model="col.selling" ng-change="totalPriceRow($index);checkCost($index)" class="form-control mousetrap" type="number" placeholder="/القطعة"/>
                                        </td>
                                        <td style="vertical-align: middle;" ng-show="col.type=='bottle'">
                                            <input id="price{{$index}}" ng-model="col.price" class="form-control mousetrap" type="number" placeholder="الكمية * سعر القطعة" disabled/>
                                        </td>
                                    </tr>
                                    <tr class="newRow">
                                        <td colspan="5" ng-click="addRow()" style="vertical-align: middle;font-size:20px;"  class="btn col-xs-6 newRowTr btn-info">سطر جديد</td>
                                    </tr>
                                    <tr>
                                        <th colspan="5" style="padding: 0px 0px 0px 0px;"><div style="border:solid black 3px;"></div></th>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: middle;"></td>
                                        <th style="vertical-align: middle;" class="text-center">المبلغ المدفوع: </th>
                                        <td style="vertical-align: middle;">
                                            <input type="number" id="sellsPayPrice" ng-value="totalPriceSells()" class="form-control mousetrap" placeholder="المبلغ المدفوع"/>
                                        </td>
                                        
                                        <th style="vertical-align: middle;" class="text-center">مجموع الفاتورة: </th>
                                        <td style="vertical-align: middle;">
                                            <input type="number" id="sellsTotalPrice" ng-value="totalPriceSells()" class="form-control mousetrap" placeholder="مجموع الفاتورة"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td ng-click="addFactureSells();" colspan="5" class="btn col-xs-6 btn-success" style="vertical-align: middle; font-size:20px;">تسجيل</td>
                                    </tr>
                                    <tr>
                                        <td id="cancel" ng-click="cancelFactureSells()" colspan="5" class="btn col-xs-6 btn-danger" style="vertical-align: middle; font-size:20px;">إلغاء</td>
                                    </tr>
                                </form>
                            </tbody>
                        </table>
                    </div>
                </div> 
            </div>
            <div class="sellPerfumeTable" style="margin-top: 10px;">
                <div class="table table-stripped text-center">                 
                     <form autocomplete="off">
                        <div class="input-group changethisone">
                            <form > 
                                <input id="searchPerfume" ng-model="searchPerfume" list="listPerfume" class="form-control mousetrap" ng-change="getSearchPerfume()" type="text" placeholder="بحث..."/>
                                <datalist id="listPerfume">
                                    <option ng-repeat="p in getPerfume"  data-id="{{p.id}}" value="{{p.name}}" ></option>
                                </datalist>
                                <span class="input-group-addon btn-info" >
                                    <i class="glyphicon glyphicon-search text-primary"></i> 
                                </span> 
                            </form>
                        </div>  
                    </form>


                    <div class="table table-stripped text-center">
                        <table class ="table table-responsive table-striped text-center table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th  style="vertical-align: middle;" class="text-center sortSellPerfumeName">
                                        اسم العطر
                                    </th>
                                    <th  style="vertical-align: middle;"class="text-center sortSellPerfumeBottleTye">
                                        نوع القنينة
                                    </th>
                                    <th  style="vertical-align: middle;"class="text-center sortSellPerfumeEssenceName">
                                        اسم الاسانس
                                    </th>
                                    <th  style="vertical-align: middle;"  class="text-center sortSellPerfumeEssenceQuantity">
                                        كمية الاسانس
                                    </th>
                                    <th  style="vertical-align: middle;" class="text-center sortSellPerfumeAlcoholQuantity">
                                        كمية الكحول
                                    </th>
                                    <th  style="vertical-align: middle;" class="text-center sorSellPerfumePrice">
                                        السعر
                                    </th>
                                    <th style="text-align: middle;" class="text-center sortSellPerfumeQuantityF">
                                        الكمية
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td  style="vertical-align: middle;">
                                        {{newDefPerfumeName}}
                                    </td>
                                    <td  style="vertical-align: middle;">
                                        <select class="form-control mousetrap"  ng-model="selectedBottle" ng-options="bot.name+' | '+bot.capacity for bot in allBottle" ng-change="bottleChanged()">
                                        <option value="">كبس</option></select>

                                        <!-- <select id="nameBottle{{$index}}" ng-model="nameB"  class="form-control mousetrap" type="text" placeholder="الإسم" ng-change="changeSelling($index)">
                                            <option value="kabbes">كبس</option>
                                            <option ng-repeat="b in allBottle" ng-class="{'text-danger':b.quantity==0}" data-price="{{b.selling}}" data-cost="{{b.cost}}" data-capacity="{{b.capacity}}" data-name="{{b.name}}" data-id="{{b.id}}" data-quantity="{{b.quantity}}" value="{{b.name}} | {{b.capacity}}">{{b.name}} | {{b.capacity}}</option>
                                        </select> -->
                                    </td>
                                    <td  style="vertical-align: middle;">

                                        <select class="form-control mousetrap"  ng-model="selectedEssence1" ng-options="ess.name for ess in allEssence" ng-change="essence1Changed()">
                                        <option value=""></option></select>

                                        <select class="form-control mousetrap"  ng-model="selectedEssence2" ng-options="ess.name for ess in allEssence" ng-change="essence2Changed()">
                                        <option value=""></option></select>

                                      <!--  <select id="nameEssence1{{$index}}" ng-model="nameE1" class="form-control mousetrap" type="text" placeholder="الإسم" ng-change="essenceName1Changed()" >
                                            <option ng-repeat="e1 in allEssence" ng-class="{'text-danger':e1.quantity==0}" data-price="{{e1.selling}}" data-cost="{{e1.cost}}" data-id="{{e1.id}}" data-quantity="{{e1.quantity}}"  value="{{e1.name}}" >{{e1.name}}</option>
                                        </select> -->
                                        <!-- <select id="nameEssence2{{$index}}" ng-model="nameE2" class="form-control mousetrap" type="text" placeholder="الإسم" ng-change="essenceName2Changed()">
                                            <option ng-repeat="e in allEssence" ng-class="{'text-danger':e.quantity==0}" data-price="{{e.selling}}" data-cost="{{e.cost}}" data-id="{{e.id}}" data-quantity="{{e.quantity}}"  value="{{e.name}}" >{{e.name}}</option>
                                        </select> -->
                                    </td>
                                    <td  style="vertical-align: middle;">
                                        <input class="form-control mousetrap" id="perfumeEssenceQuantity1K" ng-model="perfumeEssenceQuantity1K" ng-change="essence1QunatityChanged()" type="number" placeholder="ملليلتر" />
                                        <input class="form-control mousetrap" id="perfumeEssenceQuantity2K" ng-model="perfumeEssenceQuantity2K" ng-change="essence2QunatityChanged()"  type="number" placeholder="ملليلتر"/>
                                    </td>
                                    <td  style="vertical-align: middle;">
                                        <input class="form-control mousetrap" id="perfumeAlcoholQuantityK" ng-model="perfumeAlcoholQuantity" type="number" placeholder="ملليلتر" ng-change="alcQuantityChanged()" ng-disabled="isKabessDisabled" />
                                    </td>
                                    <td style="vertical-align: middle;">
                                       <input class="form-control mousetrap" id="perfumeSellingPriceK" ng-model="customPerfumePrice"  type="number" title="سعر التكلفة: {{customPerfumeCost}}"/>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <div style="" class="a">
                                            <input style="width: 80px;" type="number" id="perfumeQuantityFactureK" ng-model="perfumeQuantityFactureK">
                                            <div style="text-align: middle;" class="b">
                                                <span ng-click="addFacturePerfumeKabbesData()" class="glyphicon glyphicon-plus btn-success btn addFacturePerfumeKabbbesData" title="تسجيل"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-repeat="p in dPerfume">
                                    <td  style="vertical-align: middle;">
                                        {{p.name}}
                                    </td>
                                    <td style="vertical-align: middle;">
                                        {{p.bottle}}
                                    </td>
                                    <td style="vertical-align: middle;">
                                        {{p.name_e1}}</br>{{p.name_e2}}
                                    </td>
                                    <td  style="vertical-align: middle;">
                                        {{p.quan_e1}}</br>{{p.quan_e2}}
                                    </td>
                                    <td style="vertical-align: middle;">
                                        {{p.quan_a}}
                                    </td>
                                    <td  style="vertical-align: middle;">
                                        <input class="form-control mousetrap" id="perfumePrice" ng-model="perfumePrice" ng-value="{{p.selling}}" type="text" title="سعر الشراء: {{p.cost}}"/>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <div style="" class="a">
                                            <input style="width: 80px;" type="number" id="perfumeQuantity" ng-model="perfumeQuantity">
                                            <div style="text-align: middle;" class="b">
                                                <span ng-click="addFacturePerfume()" class="glyphicon glyphicon-plus btn-success btn addFacturePerfume" title="تسجيل"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>   
                     </div>
                </div>
            </div>
            <div class="sellItemTable" style="margin-top: 10px;">
                <form>
                    <div class="input-group changethisone">
                        <form> 
                            <input id="searchAccessories" ng-model="searchAccessories" list="listAccessories" class="form-control mousetrap" ng-change="getSearchAccessories()" type="text" placeholder="بحث..."/>
                            <!-- <datalist id="listAccessories">
                                <option ng-repeat="a in getAccessories"  data-id="{{a.id}}" value="{{a.name}}" ></option>
                            </datalist> -->
                            <span class="input-group-addon btn-info" >
                                <i class="glyphicon glyphicon-search text-primary"></i> 
                            </span> 
                        </form>
                    </div>  
                </form>
                <div class="table table-stripped text-center">
                    <table class ="table table-responsive table-striped text-center table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="vertical-align: middle;" class="text-center">
                                    اسم الإكسسوار
                                </th>
                                <th style="vertical-align: middle;" class="text-center">
                                    سعر البيع
                                </th>
                                <th style="vertical-align: middle;" style="text-align: right;" class="text-center">
                                    الكمية
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <form>
                                <tr ng-repeat="a in getAccessories">
                                    <td style="vertical-align: middle;">{{a.name}}</td>
                                    <td  style="vertical-align: middle;" class="inputShowItem">
                                        <input class="form-control mousetrap" id="accessoriesCost" ng-model="accessoriesSelling" ng-value="{{a.selling}}" type="number" title="سعر التكلفة: {{a.cost}}"/>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <div style="text-align: right;" class="a">
                                            <input style="width: 60px;" class="mousetrap" id='accessoriesQuantity' type="number" ng-model="accessoriesQuantity">
                                            <div class="b">
                                                <span ng-click="addFactureItemData(a.id)" class="glyphicon glyphicon-plus btn-success btn addFactureItemData" title="تسجيل في الفاطورة"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </form>
                        </tbody>
                    </table>   
                </div>
            </div>
        </div>
    </div>
</body>
</html>